body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
}

.card-header{
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size:medium !important;
}

.title{
    font-weight: 600;
}

#popup{
    width: fit-content;
}

#map {
    position: absolute;
    top: 0vh;
    bottom: 0vh;
    left:0vh;
    right:0vh;
}

#box {
    font-size:small;
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    border-color: #FF6657 !important;
    border-width: thick !important;
    width: 18rem;
    max-width: 50%;
    padding: 0px;
    margin: 1%;
    bottom: 0;
    right: 0;
    float: right;
    box-shadow: 1%;
}

@media only screen and (max-width: 500px) {
    .mainItems {
      grid-template-columns: auto;
    }
  }

p {
    margin: 0;
    padding: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-outline-primary {
    background-color: #FF6657;
    border-color:#FF6657;
    color: white
}

.btn-primary:active{
    box-shadow: none
}

.question{
    color: #FF6657;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color:#FF6657
}

.enlace, .enlace:hover, .enlace:active {
    color: white;
    text-decoration: none;
    color: white;
}